<div *ngIf="selectedBook">
  <h2>{{selectedBook.title}} Details</h2>
  <div>
    <label>title:
      <input [(ngModel)]="selectedBook.title" placeholder="title">
    </label>
    <!-- <label>author:
      <input [(ngModel)]="selectedBook.id" placeholder="author">
    </label> -->
  </div>
</div>

<h2>BOOKS</h2>
<ul class="books">
  <li *ngFor="let book of this.bookArray" (click)="onSelect(book)" [class.selected]="book === selectedBook">
    <span class="badge">{{book.id}}</span> Title: {{book.title}}
  </li>
</ul>